
{{#section 'head'}}

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" type="text/css" href="/css/find.css">

{{/section}}


<div id="app">

<section class="search-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  	<!--역 주변 검색-->
                    <!--a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" @click="showSubway" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">地铁站周边搜索</a-->
                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" @click="showAddress" href="#nav-profile" role="tab" aria-controls="nav-home" aria-selected="true">分地域进行搜索<!--지역별검색--></a>
                  </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="text-white logoColorBG" v-show="subwayRender">
	<div class="container search-condition">
		<div class="row">
            <div class="col-md-12">
                <h4>请输入地铁站和诊疗科室，查找就近的医院。<!--지하철 역과 진료과를 입력해 주변의 병원을 찾아보세요.-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/subjectInfo" class="btn btn-primary">选择诊疗科室时很难吗？(Click!)<!--진료과목 선택이 어려우신가요? (Click!)--></a></h4>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4">
            	<div class="form-group">
            		<select v-model="subway" id="inputState" class="form-control">
						<option v-for="index in subwayList">\{{index}}</option>
					</select>
            	</div>
			</div>
			<div class="col-md-8">
            	<div class="form-group">
            		<select v-model="subject" id="inputState" class="form-control">
            			<option>没有选择<!--선택없음--></option>
						<option v-for="index in subjectList">\{{index}}</option>
					</select>
            	</div>
			</div>
   		</div>
	</div>
</section>

<section class="logoColorBG text-white" v-show="addressRender">
    <div class="container search-condition">
        <div class="row">
            <div class="col-md-12">
                <h4 class="search-help-text">输入地区和诊疗科，找一下我家附近的医院。<!--지역과 진료과를 입력해 주변의 병원을 찾아보세요.-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/subjectInfo" class="btn btn-primary">选择诊疗科室时很难吗？(Click!)<!--진료과목 선택이 어려우신가요? (Click!)--></a></h4>
            </div>
        </div>
    	<div class="row">
            <div class="col-md-3">
            	<div class="form-group">
            		<select v-model="city" id="inputState" class="form-control">
						<option value="서울특별시(首尔特别市)">서울특별시(首尔特别市)</option>
					</select>
            	</div>
			</div>
			<div class="col-md-3">
            	<div class="form-group">
            		<select v-model="district" id="inputState" class="form-control">
						<option v-for="index in districtList">\{{index}}</option>
					</select>
            	</div>
			</div>
			<div class="col-md-3">
            	<div class="form-group">
            		<select v-model="neighborhood" id="inputState" class="form-control">
            			<option>没有选择<!--선택없음--></option>
						<option v-for="index in neighborList">\{{index}}</option>
					</select>
            	</div>
			</div>
            <div class="col-md-3">
            	<div class="form-group">
            		<select v-model="subject" id="inputState" class="form-control">
            			<option>没有选择<!--선택없음--></option>
						<option v-for="index in subjectList">\{{index}}</option>
					</select>
            	</div>
			</div>
    	</div>
    </div>
</section>


<br><br>

<section class="search-box">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-5 listing-block">
			<div v-for="(hospital, index) in pageHospitals">
				<div class="media">
	            	<div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i>
				</div>
				<div class="media-body pl-3">
					<div class="hospitalName">
						<a :href="hospitalInfoHref(hospital.id)"><img :src="pinImageHref(index)">\{{hospital.name}}</a>
					</div>
					<div class="subject">
						诊疗科目<!--진료과목--> :<span v-for="subject in hospital.subjects"> \{{subject}} </span>
					</div>
					<div class="hospitalInfo">
					    <span>电话号<!--전화번호--> : \{{hospital.tel}}</span>
					</div>
					<div class="address">\{{ fullAddress(hospital) }}</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<ul class="pagination">
						<li class="disabled"><a href="#">«</a></li>
						<li v-for="n in numOfPage">
							<div v-if="n == index">
								<a @click="changeIndex(n)" href="#" :id="n" class="active-index">\{{n}}</a>
							</div>
							<div v-else>
								<a @click="changeIndex(n)" href="#" :id="n" class="index">\{{n}}</a>
							</div>
						</li>
						<li class="disabled"><a href="#">»</a></li>
		            </ul>
				</div>
			</div>
		</div>
		<div class="col-md-7 map-box mx-0 px-0">
			<div id="map" style="width:100%;height:700px;"></div>
		</div>
	</div>
	</div>
</section>




</div>





{{#section 'jquery'}}

	<!-- For Hospital Data Ajax-->
	<script type="text/javascript" src="/js/api/hospital.js"></script>	
	<!-- Hospital Data들 모음 (City, District, NeighborHood)등-->
	<script type="text/javascript" src="/js/data/hospitalData.js"></script>
	<!-- Vue Controller 포함. -->
	<script type="text/javascript" src="/js/controllers/findController.js"></script>

{{/section}}





