

{{#section 'head'}}

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/hospitalInfo.css">

{{/section}}



<div id="app">

    <section class="name-box text-white logoColorBG">
		<div class="container">
	        <div class="row">
		        <div class="col-sm-12 col-lg-12 hospitalName">
	    	        <h1>
	        	        \{{hospital.name}}
	            	</h1>
	    		</div>
	        </div>
		</div>
    </section>
    
    <br><br>
    
    <section class="search-box">
		<div class="container">
			
			<div class="row">
				<br>
				    <h2 class="col-sm-12 logoColor text-center" style="padding-top:20px">
				    	医院基本信息<!--병원 기본 정보--> 
				    </h2>
			    <br>
			</div>

		    <div class="row">

	            <div class="col-sm-5 well listing-box">
	            	
	            	<br>
	            	<br>
	            	<h3 style="line-height:20%;">
	            		<i class="fas fa-globe fa-1x" style="line-height:6%;color:#BD1622"></i> 诊疗科目<!--진료과목-->
	        		</h3>
	                <p style="margin-top:12%;line-height:35%">
	                	<span v-for="subject in hospital.subjects"><b>- \{{subject}}</b> </span></p><br>

	                <h3 style="line-height:20%;">
	                	<i class="fas fa-map-marker-alt fa-1x" style="line-height:6%;color:#BD1622"></i> 详细地址<!--상세주소-->
	                </h3>

	                <p style="margin-top:12%;">- \{{ fullAddress }}</p><br />
	                
	                <h3 style="line-height:20%;">
	                	<i class="fas fa-phone fa-1x" style="line-height:6%;color:#BD1622"></i>电话号<!--전화번호-->
	                </h3>
	                
	                <p style="margin-top:12%;line-height:35%">
	                	<a href="siteadresi.com/destek">-\{{ hospital.tel }}</a>
	                </p>
	                <br />
	                
	                <h3 style="line-height:20%;">
	                	<i class="far fa-calendar-alt fa-1x" style="line-height:6%;color:#BD1622"></i> 诊疗时间<!--진료시간-->
	                </h3>

	                <p style="margin-top:12%;line-height:130%">
	                	- 星期一 : \{{hospital.monStart}} ~ \{{hospital.monClose}}<br>
	                	- 星期二 : \{{hospital.tueStart}} ~ \{{hospital.tueClose}}<br>
	                	- 星期三 : \{{hospital.wedStart}} ~ \{{hospital.wedClose}}<br>
	                	- 星期四 : \{{hospital.thuStart}} ~ \{{hospital.thuClose}}<br>
	                	- 星期五 : \{{hospital.friStart}} ~ \{{hospital.friClose}}<br>
	                	- 星期六 : \{{hospital.satStart}} ~ \{{hospital.satClose}}<br>
	                	- 星期日 : \{{hospital.sunStart}} ~ \{{hospital.sunClose}}<br>
	                	- 假期 : \{{hospital.holStart}} ~ \{{hospital.holClose}}<br>
                	<div v-if="hospital.remarks">\{{hospital.remarks}}</div>
	            		</p>
	                <br />
	            </div>

		        <div class="col-sm-7">
		        	<br>	
					<div id="map" style="width:100%; height:430px; border:0;"></div>
		        </div>

		    </div>

		    <br><br>
		    
		    <!-- 병원 사진 렌더링 -->
		    <div class="photo" v-show="havePhoto">
		    	<h2 class="logoColor text-center"> 医院照片 </h2>
			    <div class="container-fluid row">
				    <div style="float : none; margin: 0 auto;">
			    		<span class="col-xs-12 col-md-4" v-for="index in hospital.photo">
			    			<img class="img-responsive" :src="photoHref(index)">
			    		</span>
			    	</div>
			    </div>
		    </div>


		    <br><br>

	</section>

    <!--section class="search-box">

	<div class="container">
		<br>
		<h2 class="text-center logoColor">医院访问后记</h2>
		<br>
		<div class="card">
		    <div class="card-body">
		        <div class="row">
	        	    <div class="col-md-2">
	        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
	        	        <p class="text-secondary text-center">15 Minutes Ago</p>
	        	    </div>
	        	    <div class="col-md-10">
	        	        <p>
	        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong style="color:#BD1622;">金胜范</strong></a>
	        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
	                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
	        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

	        	       </p>
	        	       <div class="clearfix"></div>
	        	        <p>延世大学12级政治外交系毕业生 石岳峰 – 我是今年春天刚刚从延世大学毕业的学生，六月初在一个很偶然的场合下，了解到了这个叫做“正确了解韩国医院”的活动。因为在过去的留学生活中，去医院看病或者买药经常是我最烦恼的一件事，不论是从医院的选择和预约，还是药物的选择，再到事后申请保险公司的理赔，各个环节都繁琐复杂，当时我想如果有一群经验丰富的学生能把这些信息提供给刚来韩国留学的学生那该有多好？在过去的一个月的时间里，我通过和“正确了解韩国医院”的成员们的交流，了解到他们正是我期待的那些能为我们中国留学生提供这些帮助的热心同学。</p>
	        	        <p>
	        	            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
	        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
	        	       </p>
	        	    </div>
		        </div>
		    </div>
		</div>
		<div class="card">
		    <div class="card-body">
		        <div class="row">
	        	    <div class="col-md-2">
	        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
	        	        <p class="text-secondary text-center">Several Days Ago</p>
	        	    </div>
	        	    <div class="col-md-10">
	        	        <p>
	        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong style="color:#BD1622;">李再勋</strong></a>
	        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
	                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
	        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
	        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

	        	       </p>
	        	       <div class="clearfix"></div>
	        	        <p>延世大学韩语学堂学生 杨媛 - 大家好！我是本次活动的第一期志愿者，很荣幸可以参与到这样的活动中来。“正确了解韩国的医院”，本次活动不仅让我完全了解到韩国的就医体系和医疗系统，而且通过丰富多彩的活动，对韩国的文化有了更深刻的认识和体会。此次丰富的收获是我留韩生活中不可多得的一笔宝贵财富。</p>
	        	        <p>
	        	            <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
	        	            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
	        	       </p>
	        	    </div>
		        </div>
		    </div>
		</div>
		<br><br>
	</div>

	</section-->
	
</div>




{{#section 'jquery'}}

	<script type="text/javascript" src="/js/api/hospital.js"></script>
	<script type="text/javascript" src="/js/controllers/hospitalInfoController.js"></script>

{{/section}}