{{#section 'head'}}
    <meta name="Robots" content="nofollow" />
    <link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
{{/section}}

<div id="app">
    <div id="wrapper">
        
        <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Admin</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav side-nav">
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('payerToggle')">쿠폰 신청자</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('participantToggle')">이벤트 신청자</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('couponToggle')">쿠폰 관리하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('eventToggle')">이벤트 관리하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('categoryToggle')">카테고리(소분류) 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('highCategoryToggle')">카테고리(대,중,소) 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('bannerToggle')">배너 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="toggleTo('feedToggle')">피드 관리</a>
                </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid">

            <div v-show="toggles.participantToggle">
                <h2>이벤트 신청자</h2>
                <div class="form" role="form" v-if="update_participant_toggle">
                    비고사항 : <input type="text" class="form-control" v-model="updateObj.remarks">
                    <button class="btn btn-primary" @click="changeParticipant">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_participant_toggle', -1)">취소</button>
                </div>
                <div>
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>신청이벤트</th>
                                <th>이름</th>
                                <th>성별</th>
                                <th>위챗</th>
                                <th>휴대폰</th>
                                <th>메모</th>
                                <th>신청시간</th>
                                <th>비고사항</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for=" (participant, index) in participants">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{participant.eventName}}</td>
                                <td>\{{participant.participantName}}</td>
                                <td>\{{participant.gender}}</td>
                                <td>\{{participant.wechatID}}</td>
                                <td><span v-if="participant.phone">\{{participant.phone}}</span></td>
                                <td>\{{participant.memo}}</td>
                                <td>\{{participant.updated_at | moment}}</td>
                                <td>\{{participant.remarks}}</td>
                                <td>
                                    <button class="btn btn-primary" @click="toggleChange(participant, 'update_participant_toggle', index)">수정</button>
                                    <button @click="removeParticipant(participant.id)" class="btn btn-primary">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div v-show="toggles.payerToggle">
                <h2>쿠폰 신청자</h2>
                <div class="form" role="form" v-if="update_payer_toggle">
                    비고사항 : <input type="text" class="form-control" v-model="updateObj.remarks">
                    <button class="btn btn-primary" @click="changePayer">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_payer_toggle', -1)">취소</button>
                </div>
                <div>
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>쿠폰</th>
                                <th>Name(CN)</th>
                                <th>Name(KR)</th>
                                <th>Name(EN)</th>
                                <th>위챗</th>
                                <th>성별</th>
                                <th>생년월일</th>
                                <th>휴대폰</th>
                                <th>할인쿠폰번호</th>
                                <th>신청일시</th>
                                <th>비고사항</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(payer, index) in payers">
                                <td><a href="#">\{{index}}</a></td>
                                <td><span v-if="payer.coupon">\{{payer.coupon.couponName}}</span></td>
                                <td>\{{payer.chineseName}}</td>
                                <td>\{{payer.payerName}}</td>
                                <td>\{{payer.englishName}}</td>
                                <td>\{{payer.wechatID}}</td>
                                <td>\{{payer.gender}}</td>
                                <td>\{{payer.birthDay}}</td>
                                <td>\{{payer.phone}}</td>
                                <td>\{{payer.couponNumber}}</td>
                                <td>\{{payer.updated_at | moment}}</td>
                                <td>\{{payer.remarks}}</td>
                                <td>
                                    <button class="btn btn-primary" @click="toggleChange(payer, 'update_payer_toggle', index)">수정</button>
                                    <button @click="removePayer(payer.id)" class="btn btn-primary">삭제</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div v-show="toggles.eventToggle">
                <h2>생성된 이벤트</h2>

                <div>
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>이벤트명</th>
                                <th>병원이름</th>
                                <th>병원주소</th>
                                <th>이벤트기간</th>
                                <th>지하철역</th>
                                <th>이벤트생성일</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(event,index) in events">
                                <td><a href="#">\{{index}}</a></td>
                                <td><a :href="'/event/'+event.id">\{{event.eventName}}</a></td>
                                <td>\{{event.hospitalName}}</td>
                                <td>\{{event.address}}</td>
                                <td>\{{event.eventRange}}</td>
                                <td>\{{event.subway}}</td>
                                <td>\{{event.updated_at | moment}}</td>
                                <td><button class="btn btn-primary" @click="toggleChange(event, 'update_event_toggle', index)">수정</button></td>
                                <td><button class="btn btn-primary" @click="removeEvent(event.id)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form" role="form" v-if="update_event_toggle">
                    이벤트이름 : <input type="text" class="form-control" v-model="updateObj.eventName">
                    이벤트기간 : <input type="text" class="form-control" v-model="updateObj.eventRange">
                    원래가격 : <input type="number" class="form-control" v-model="updateObj.originalPrice" placeholder="숫자만가능">
                    할인가격 : <input type="number" class="form-control" v-model="updateObj.price" placeholder="숫자만가능">
                    병원이름 : <input type="text" class="form-control" v-model="updateObj.hospitalName">
                    지하철역이름 : <input type="text" class="form-control" v-model="updateObj.subway">
                    조회수 : <input type="number" class="form-control" v-model="updateObj.views">
                    결제수 : <input type="number" class="form-control" v-model="updateObj.payments">
                    실조회수 : <input type="number" class="form-control" v-model="updateObj.realViews" disabled="disabled">
                    실결제수 : <input type="number" class="form-control" v-model="updateObj.realPayments" disabled="disabled">
                    병원주소 : <input type="text" class="form-control" v-model="updateObj.address">
                    <div v-for="(category, index) in updateObj.highCategorys">
                        대분류 \{{index}} : <input type="text" class="form-control" v-model="updateObj.highCategorys[index]">
                        <button class="btn btn-danger" @click="updateObj.highCategorys.splice(index, 1)"> 대분류 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj.highCategorys.push('')">대분류 추가</button><br>

                    <div v-for="(category, index) in updateObj.middleCategorys">
                        중분류 \{{index}} : <input type="text" class="form-control" v-model="updateObj.middleCategorys[index]">
                        <button class="btn btn-danger" @click="updateObj.middleCategorys.splice(index, 1)"> 중분류 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj.middleCategorys.push('')">중분류 추가</button><br>

                    <div v-for="(category, index) in updateObj.lowCategorys">
                        소분류 \{{index}} : <input type="text" class="form-control" v-model="updateObj.lowCategorys[index]">
                        <button class="btn btn-danger" @click="updateObj.lowCategorys.splice(index, 1)"> 소분류 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj.lowCategorys.push('')">소분류 추가</button><br>
                    이벤트생성일 : <input type="text" class="form-control" v-model="updateObj.updated_at">
                    썸네일 이미지 : <input type="text" class="form-control" v-model="updateObj.thumbnailImage">
                    이벤트 이미지 : <input type="text" class="form-control" v-for="(eventImage, index) in updateObj.eventImage" v-model="updateObj.eventImage[index]">
                    <button class="btn btn-primary" @click="changeEvent">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_event_toggle', -1)">취소</button>
                </div>


                <h2>이벤트 이미지</h2>
                <form class="form" role="form" id="event-file-form">

                    <div class="form-group">
                        <label for="cc_name">이벤트 이미지 파일</label>
                        <input type="file" class="form-control" id="new-event-file" name="file" accept="image/*"/>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn mobile-btn" @click="newFile('event', $event)">이벤트 파일 추가하기</button>
                    </div>

                </form>
                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>이벤트 이미지</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="file.fileName" v-for="(file,index) in eventFiles">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{file.fileName}}</td>
                                <td><button class="btn btn-primary" @click="removeFile('event', file.fileName)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card card-outline-secondary">
                    <div class="card-body" >
                        <h3 class="text-center">이벤트 추가하기</h3>
                        <hr>
                        <form class="form" role="form" id="event-form">

                            <div class="form-group">
                                <label for="cc_name">이벤트이름</label>
                                <input type="text" class="form-control" name="eventName">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">이벤트기간</label>
                                <input type="text" class="form-control" name="eventRange" placeholder="2018-07-01~2018-11-12">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">병원이름</label>
                                <input type="text" class="form-control"  name="hospitalName" placeholder="드림성모안과">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">역이름</label>
                                <input type="text" class="form-control" name="subway" >
                            </div>

                            <div class="form-group">
                                <label for="cc_name">병원상세주소</label>
                                <input type="text" class="form-control" name="address">
                            </div>

                            <div class="form-group" v-for="(_a, index) in list_array">
                                <label for="cc_name">대분류 \{{index}}</label>
                                <input type="text" class="form-control" name="highCategorys[]">
                                <button class="btn btn-danger" @click="change_list_array(list_array, index, $event)">대분류 \{{index}}제거</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array, '+', $event)">대분류 추가</button>

                            <div class="form-group" v-for="(_a, index) in list_array_2">
                                <label for="cc_name">중분류 \{{index}}</label>
                                <input type="text" class="form-control" name="middleCategorys[]">
                                <button class="btn btn-danger" @click="change_list_array(list_array_2, index, $event)">중분류 \{{index}}제거</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array_2, '+', $event)">중분류 추가</button>

                            <div class="form-group" v-for="(_a, index) in list_array_3">
                                <label for="cc_name">소분류 \{{index}}</label>
                                <input type="text" class="form-control" name="lowCategorys[]">
                                <button class="btn btn-danger" @click="change_list_array(list_array_3, index, $event)">소분류 \{{index}}제거</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array_3, '+', $event)">소분류 추가</button>

                            <div class="form-group">
                                <label for="cc_name">원래가격</label>
                                <input type="number" class="form-control" name="originalPrice" placeholder="있는경우만 입력, 560000 처럼 숫자만 입력">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">이벤트 가격</label>
                                <input type="number" class="form-control" name="price" placeholder="있는경우만 입력, 560000 처럼 숫자만 입력">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">썸네일 파일명</label>
                                <input type="file" class="form-control" id="event-thumbnail-image" name="thumbnailImage"  />
                            </div>

                            <div class="form-group">
                                <label for="cc_name">상세 이벤트 그림파일1</label>
                                <input type="file" class="form-control" id="event-image-1" name="eventImage1" placeholder="반드시 순서를 지켜주세요" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">상세 이벤트 그림파일2</label>
                                <input type="file" class="form-control" id="event-image-2" name="eventImage2" placeholder="반드시 순서를 지켜주세요" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">상세 이벤트 그림파일3</label>
                                <input type="file" class="form-control" id="event-image-3" name="eventImage3" placeholder="반드시 순서를 지켜주세요" />
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn mobile-btn" @click="newEvent">이벤트 만들기</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>



            <div v-show="toggles.couponToggle">

                <h2>생성된 쿠폰</h2>

                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>쿠폰</th>
                                <th>병원이름</th>
                                <th>병원주소</th>
                                <th>쿠폰기간</th>
                                <th>지하철역</th>
                                <th>쿠폰생성일</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(coupon,index) in coupons">
                                <td><a href="#">\{{index}}</a></td>
                                <td><a :href="'/coupon/'+coupon.id">\{{coupon.couponName}}</a></td>
                                <td>\{{coupon.hospitalName}}</td>
                                <td>\{{coupon.address}}</td>
                                <td>\{{coupon.couponRange}}</td>
                                <td>\{{coupon.subway}}</td>
                                <td>\{{coupon.updated_at | moment}}</td>
                                <td><button class="btn btn-primary" @click="toggleChange(coupon, 'update_coupon_toggle' ,index)">수정</button></td>
                                <td><button class="btn btn-primary" @click="removeCoupon(coupon.id)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form" role="form" v-if="update_coupon_toggle">
                    쿠폰이름 : <input type="text" class="form-control" v-model="updateObj.couponName">
                    병원이름 : <input type="text" class="form-control" v-model="updateObj.hospitalName">
                    원래가격 : <input type="number" class="form-control" v-model="updateObj.originalPrice" placeholder="숫자만가능">
                    카테고리
                    <label class="radio-inline"><input id="category" type="radio" class="form-control" name="isDeposit" value="true" v-model="updateObj.isDeposit">예약금 모델</label>
                    <label class="radio-inline"><input id="category" type="radio" class="form-control" name="isDeposit" value="false" v-model="updateObj.isDeposit">쿠폰</label><br>
                    조회수 : <input type="number" class="form-control" v-model="updateObj.views">
                    결제수 : <input type="number" class="form-control" v-model="updateObj.payments">
                    실조회수 : <input type="number" class="form-control" v-model="updateObj.realViews" disabled="disabled">
                    실결제수 : <input type="number" class="form-control" v-model="updateObj.realPayments" disabled="disabled">
                    할인가격 : <input type="number" class="form-control" v-model="updateObj.price" placeholder="숫자만가능">
                    상세주소 : <input type="text" class="form-control" v-model="updateObj.address">
                    쿠폰기간 : <input type="text" class="form-control" v-model="updateObj.couponRange">
                    지하철역 : <input type="text" class="form-control" v-model="updateObj.subway">
                    생성날짜 : <input type="text" class="form-control" v-model="updateObj.updated_at">

                    <div v-for="(category, index) in updateObj.highCategorys">
                        대분류 \{{index}} : <input type="text" class="form-control" v-model="updateObj.highCategorys[index]">
                        <button class="btn btn-danger" @click="updateObj.highCategorys.splice(index, 1)"> 대분류 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj.highCategorys.push('')">대분류 추가</button><br>

                    <div v-for="(category, index) in updateObj.middleCategorys">
                        중분류 \{{index}} : <input type="text" class="form-control" v-model="updateObj.middleCategorys[index]">
                        <button class="btn btn-danger" @click="updateObj.middleCategorys.splice(index, 1)"> 중분류 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj.middleCategorys.push('')">중분류 추가</button><br>

                    <div v-for="(category, index) in updateObj.lowCategorys">
                        소분류 \{{index}} : <input type="text" class="form-control" v-model="updateObj.lowCategorys[index]">
                        <button class="btn btn-danger" @click="updateObj.lowCategorys.splice(index, 1)"> 소분류 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj.lowCategorys.push('')">소분류 추가</button><br>

                    썸네일 이미지 : <input type="text" class="form-control" v-model="updateObj.thumbnailImage">
                    쿠폰 이미지 : <input type="text" class="form-control" v-for="(couponImage, index) in updateObj.couponImage" v-model="updateObj.couponImage[index]">
                    <button class="btn btn-primary" @click="changeCoupon">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_coupon_toggle', -1)">취소</button>
                </div>


                <h2>쿠폰 이미지</h2>
                <form class="form" role="form" id="coupon-file-form">

                    <div class="form-group">
                        <label for="cc_name">쿠폰 이미지 파일</label>
                        <input type="file" class="form-control" id="new-coupon-file" name="file" accept="image/*"/>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn mobile-btn" @click="newFile('coupon', $event)">쿠폰 파일 추가하기</button>
                    </div>

                </form>

                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>쿠폰 이미지</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="file.fileName" v-for="(file,index) in couponFiles">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{file.fileName}}</td>
                                <td><button class="btn btn-primary" @click="removeFile('coupon', file.fileName)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="card card-outline-secondary">
                    <div class="card-body">
                        <h3 class="text-center">쿠폰 추가하기</h3>
                        <hr>
                        <form class="form" role="form" id="coupon-form">
                            <div class="form-group">
                                <label for="cc_name">쿠폰이름</label>
                                <input type="text" class="form-control" name="couponName">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">쿠폰기간</label>
                                <input type="text" class="form-control" name="couponRange" placeholder="2018-07-01~2018-11-12">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">병원이름</label>
                                <input type="text" class="form-control"  name="hospitalName" placeholder="드림성모안과">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">역이름</label>
                                <input type="text" class="form-control" name="subway" >
                            </div>
                            <div class="form-group">
                                <label for="cc_name">병원상세주소</label>
                                <input type="text" class="form-control" name="address">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">예약금 모델 인가요?</label><br>
                                <label class="radio-inline"><input id="category" type="radio" class="form-control" name="isDeposit" value="true">예약금 모델</label>
                                <label class="radio-inline"><input id="category" type="radio" class="form-control" name="isDeposit" value="false">쿠폰</label>
                            </div>

                            <div class="form-group" v-for="(_a, index) in list_array">
                                <label for="cc_name">대분류 \{{index}}</label>
                                <input type="text" class="form-control" name="highCategorys[]">
                                <button class="btn btn-danger" @click="change_list_array(list_array, index, $event)">대분류 \{{index}}제거</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array, '+', $event)">대분류 추가</button>

                            <div class="form-group" v-for="(_a, index) in list_array_2">
                                <label for="cc_name">중분류 \{{index}}</label>
                                <input type="text" class="form-control" name="middleCategorys[]">
                                <button class="btn btn-danger" @click="change_list_array(list_array_2, index, $event)">중분류 \{{index}}제거</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array_2, '+', $event)">중분류 추가</button>

                            <div class="form-group" v-for="(_a, index) in list_array_3">
                                <label for="cc_name">소분류 \{{index}}</label>
                                <input type="text" class="form-control" name="lowCategorys[]">
                                <button class="btn btn-danger" @click="change_list_array(list_array_3, index, $event)">소분류 \{{index}}제거</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array_3, '+', $event)">소분류 추가</button>

                            <div class="form-group">
                                <label for="cc_name">쿠폰 가격</label>
                                <input type="number" class="form-control" name="price" placeholder="560000 처럼 숫자만 입력">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">원래 가격</label>
                                <input type="number" class="form-control" name="originalPrice" placeholder="560000 처럼 숫자만 입력">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">예약금?</label>
                                <input type="number" class="form-control" name="deposit" placeholder="예약금모델인 경우 해당하는 예약금 을 숫자로만">
                            </div>

                            <div class="form-group">
                                <label for="cc_name">특이 사항</label>
                                <input type="text" class="form-control" name="remarks" placeholder="특이사항">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">썸네일 파일명</label>
                                <input type="file" class="form-control" id="coupon-thumbnail-image" name="thumbnailImage"  />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">상세 쿠폰 그림파일1</label>
                                <input type="file" class="form-control" id="coupon-image-1" name="couponImage1" placeholder="반드시 순서를 지켜주세요" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">상세 쿠폰 그림파일2</label>
                                <input type="file" class="form-control" id="coupon-image-2" name="couponImage2" placeholder="반드시 순서를 지켜주세요" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">상세 쿠폰 그림파일3</label>
                                <input type="file" class="form-control" id="coupon-image-3" name="couponImage3" placeholder="반드시 순서를 지켜주세요" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn mobile-btn" @click="newCoupon">쿠폰 만들기</button>
                            </div>
                        </form>
                    </div>
                </div>

                
            </div>


            {{!-- 카테고리 관리(대,중,소) --}}
            <div v-show="toggles.highCategoryToggle">
                
                <h2>카테고리(대,중,소) 관리</h2>
                <div>
                    <table class="table" id="table" >
                        
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>대분류</th>
                                <th>대분류아이콘</th>
                                <th>중분류</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr v-for=" (highCategory, index) in highCategorys">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{highCategory.categoryName}}</td>
                                <td>\{{highCategory.iconImage}}</td>
                                <td>
                                    <span v-for="(middleCategory, index) in highCategory['middleCategorys']">
                                        중분류 \{{index}} : \{{middleCategory.categoryName}} <br>
                                        <span v-for="(lowCategory , _index) in middleCategory['lowCategorys']">
                                            소분류 \{{_index}} : \{{lowCategory.categoryName}}
                                        </span>
                                        <br><br>
                                    </span>
                                </td>
                                <td><button class="btn btn-primary" @click="toggleChange(highCategory,'update_highCategory_toggle' ,index)">수정</button></td>
                                <td><button @click="removeHighCategory(highCategory.id)" class="btn btn-primary">삭제</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
               
                <div class="form" role="form" v-if="update_highCategory_toggle">
                    대분류이름 : <input type="text" class="form-control" v-model="updateObj.categoryName">
                    대분류아이콘 : <input type="text" class="form-control" v-model="updateObj.iconImage">
                    생성날짜 : <input type="text" class="form-control" v-model="updateObj.updated_at">
                    <span v-for="(middleCategory, index) in updateObj.middleCategorys">
                        중분류이름 : <input type="text" class="form-control" v-model="updateObj.middleCategorys[index]['categoryName']">
                        <button class="btn btn-danger" @click="updateObj.middleCategorys.splice(index, 1)" style="width: 20%">삭제</button>
                        {{!-- <span v-for="(lowCategory, _index) in middleCategory.lowCategorys">
                            소분류 : <input type="text" class="form-control" v-model="middleCategory.lowCategorys[_index]" style="width:50%"><button class="btn btn-danger" @click="middleCategory.lowCategorys.splice(_index, 1)" style="width:10%">삭제</button>
                        </span>
                        <button class="btn btn-danger" @click="middleCategory.lowCategorys.push('')">소분류추가</button> --}}
                            [<span v-for="(low, _index) in updateObj.middleCategorys[index].lowCategorys">
                                \{{low.categoryName}}<button class="btn btn-danger" @click="updateObj.middleCategorys[index].lowCategorys.splice(_index, 1)">-</button> , 
                            </span>]

                            <span v-for="category in categorys" v-if="!isInclude(middleCategory.lowCategorys, category.id)">
                                \{{category.categoryName}}<button class="btn btn-danger" @click="updateObj.middleCategorys[index].lowCategorys.push({_id: category.id})">+</button> , 
                            </span>
                        <br>
                    </span>
                    <button class="btn btn-danger" @click="updateObj.middleCategorys.push({'lowCategorys': []})" style="width:20%">중분류추가</button>
                    <button class="btn btn-primary" @click="changeHighCategory">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_highCategory_toggle', -1)">취소</button>
                </div>

                <br><br><br>

                <h2>대분류 이미지</h2>
                
                <form class="form" role="form" id="highCategory-file-form">

                    <div class="form-group">
                        <label for="cc_name">대분류 이미지 파일</label>
                        <input type="file" class="form-control" id="new-highCategory-file" name="file" accept="image/*"/>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn mobile-btn" @click="newFile('highCategory', $event)">대분류 파일 추가하기</button>
                    </div>

                </form>
                
                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>대분류 아이콘</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="file.fileName" v-for="(file,index) in highCategoryFiles">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{file.fileName}}</td>
                                <td><button class="btn btn-primary" @click="removeFile('highCategory', file.fileName)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body" id="highCategory-div">
                
                    <h3 class="text-center">카테고리(대,중,소) 추가하기</h3>
                    <hr>
                    <form class="form" role="form" id="highCategory-form">
                        
                        <div class="form-group">
                            <label for="cc_name">대분류이름</label>
                            <input type="text" class="form-control" name="categoryName">
                        </div>
                        
                        <div class="form-group">
                            <label for="cc_name">대분류 아이콘</label>
                            <input type="file" id="icon-high-image-file" name="iconImage" class="form-control"  />
                        </div>
                        
                        <div class="form-group">
                            <span v-for="(_a, index) in array_list">
                                <label for="cc_name">중분류이름</label>
                                <input type="text" :name="'middleCategorys['+index+'][categoryName]'" class="form-control" />
                                <button class="btn btn-danger" @click="change_array_list(index, $event)">중분류 \{{index}} 제거</button>
                                <br>
                                소분류 포함<br><span v-for="category in categorys">
                                 \{{category.categoryName}} <input type="checkbox" :name="'middleCategorys['+index+'][lowCategorys][]'" :value="category.id" >
                                </span>
                                <br><br>
                            </span>
                            <button class="btn btn-danger" @click="change_array_list('+', $event)">중분류추가</button>
                        </div>
                        <button type="submit" class="btn mobile-btn" @click="newHighCategory">카테고리(대중소) 만들기</button>

                    </form>
                </div>

            </div>
            {{!-- /카테고리 관리(대,중,소) --}}

            <div v-show="toggles.categoryToggle">
                
                <h2>카테고리 관리(소분류)</h2>
                <div>
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>이름</th>
                                <th>아이콘파일</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for=" (category, index) in categorys">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{category.categoryName}}</td>
                                <td>\{{category.iconImage}}</td>
                                <td><button class="btn btn-primary" @click="toggleChange(category,'update_category_toggle' ,index)">수정</button></td>
                                <td><button @click="removeCategory(category.id)" class="btn btn-primary">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
                <div class="form" role="form" v-if="update_category_toggle">
                    <div class="form-group">
                        <label for="cc_name">카테고리이름</label>
                        <input type="text" class="form-control" id="category-form-categoryName" name="categoryName" v-model="updateObj.categoryName">
                    </div>
                    <div class="form-group">
                        <label for="cc_name">아이콘 파일</label>
                        <input type="text" name="iconImage" class="form-control" id="iconImage" v-model="updateObj.iconImage" />
                    </div>
                    <div class="form-group">
                        <label for="cc_name">카테고리 설명[위]</label>
                        <textarea rows="5" type="text" class="form-control" id="category-form-content" name="content_1" v-model="updateObj.content_1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cc_name">카테고리 설명[아래]</label>
                        <textarea rows="5" type="text" class="form-control" id="category-form-content" name="content_2" v-model="updateObj.content_2"></textarea>
                    </div>

                    <div class="form-group" v-for="(question, index) in updateObj.questions">
                        <label for="cc_name">질문 세트 \{{index}}</label>
                        질문 : <input type="text" class="form-control" v-model="updateObj.questions[index].content">
                        응답 : <textarea class="form-control" v-model="updateObj.questions[index].answer"></textarea>
                        <button class="btn btn-danger float-right" @click="updateObj.questions.splice(index, 1)">질문 \{{index}} 삭제</button>
                    </div>
                    <button class="btn btn-danger" @click="change_list_array(updateObj.questions, '+', $event)">질의응답 추가</button>

                    <div class="form-group" v-for="(caution, index) in updateObj.caution_1">
                        <label for="cc_name">전 주의사항 \{{index}}</label>
                        내용 : <textarea class="form-control" v-model="updateObj.caution_1[index]['content']"></textarea>
                        <button class="btn btn-danger float-right" @click="updateObj.caution_1.splice(index, 1)">전 주의사항 \{{index}} 삭제</button>
                    </div>
                    <button class="btn btn-danger" @click="change_list_array(updateObj.caution_1, '+', $event)">전 주의사항 추가</button>

                    <div class="form-group" v-for="(caution, index) in updateObj.caution_2">
                        <label for="cc_name">후 주의사항 \{{index}}</label><br>
                        Day : <input type="text" class="form-control" v-model="updateObj.caution_2[index]['day']">
                        내용 : <textarea class="form-control" v-model="updateObj.caution_2[index]['content']"></textarea>
                        <button class="btn btn-danger float-right" @click="updateObj.caution_2.splice(index, 1)">후 주의사항 \{{index}} 삭제</button>
                    </div>
                    <button class="btn btn-danger" @click="change_list_array(updateObj.caution_2, '+', $event)">후 주의사항 추가</button>

                    <div class="form-group">
                        <label for="cc_name">특이사항</label>
                        <input type="text" v-model="updateObj.remarks" class="form-control" id="remarks" />
                    </div>

                    <button class="btn btn-primary" @click="changeCategory">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_category_toggle' ,-1)">취소</button>

                </div>

                <br><br><br>

                <h2>카테고리 이미지</h2>
                <form class="form" role="form" id="category-file-form">

                    <div class="form-group">
                        <label for="cc_name">카테고리 이미지 파일</label>
                        <input type="file" class="form-control" id="new-category-file" name="file" accept="image/*"/>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn mobile-btn" @click="newFile('category', $event)">카테고리 파일 추가하기</button>
                    </div>

                </form>
                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>카테고리 이미지</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="file.fileName" v-for="(file,index) in categoryFiles">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{file.fileName}}</td>
                                <td><button class="btn btn-primary" @click="removeFile('category', file.fileName)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body" id="category-div">
                    <h3 class="text-center">카테고리 추가하기</h3>
                    <hr>
                    <form class="form" role="form" id="add-category-form">
                        <div class="form-group">
                            <label for="cc_name">카테고리이름</label>
                            <input type="text" class="form-control" id="category-form-categoryName" name="categoryName">
                        </div>
                        <div class="form-group">
                            <label for="cc_name">아이콘 파일</label>
                            <input type="file" id="icon-image-file" name="iconImage" class="form-control"  />
                        </div>
                        
                        <div class="form-group">
                            <label for="cc_name">카테고리 설명[위]</label>
                            <textarea rows="5" type="text" class="form-control" id="category-form-content" name="content_1"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="cc_name">카테고리 설명[아래]</label>
                            <textarea rows="5" type="text" class="form-control" id="category-form-content" name="content_2"></textarea>
                        </div>

                        <div class="form-group" v-for="(_a, index) in list_array">
                            <label for="cc_name">질문 세트 \{{index}}</label>
                            질문 : <input type="text" class="form-control" :name="'questions['+index+'][content]'">
                            응답 : <textarea class="form-control" :name="'questions['+index+'][answer]'"></textarea>
                            <button class="btn btn-danger float-right" @click="change_list_array(list_array, index, $event)">질문 \{{index}} 삭제</button>
                        </div>
                        <button class="btn btn-danger" @click="change_list_array(list_array, '+', $event)">질의응답 추가</button>

                        <div class="form-group" v-for="(_a, index) in list_array_2">
                            <label for="cc_name">전 주의사항 \{{index}}</label>
                            내용 : <textarea class="form-control" :name="'caution_1['+index+'][content]'"></textarea>
                            <button class="btn btn-danger float-right" @click="change_list_array(list_array2, index, $event)">전 주의사항 \{{index}} 삭제</button>
                        </div>
                        <button class="btn btn-danger" @click="change_list_array(list_array_2, '+', $event)">전 주의사항 추가</button>

                        <div class="form-group" v-for="(_a, index) in list_array_3">
                            <label for="cc_name">후 주의사항 \{{index}}</label><br>
                            Day : <input type="text" class="form-control" :name="'caution_2['+index+'][day]'">
                            내용 : <textarea class="form-control" :name="'caution_2['+index+'][content]'"></textarea>
                            <button class="btn btn-danger float-right" @click="change_list_array(list_array3, index, $event)">후 주의사항 \{{index}} 삭제</button>
                        </div>
                        <button class="btn btn-danger" @click="change_list_array(list_array_3, '+', $event)">후 주의사항 추가</button>

                        <div class="form-group">
                            <label for="cc_name">특이사항</label>
                            <input type="text" name="remarks" class="form-control" id="remarks" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn mobile-btn" @click="newCategory">카테고리 만들기</button>
                        </div>

                    </form>
                </div>

            </div>


            <div v-show="toggles.bannerToggle">

                <h2>생성된 배너</h2>

                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>배너파일</th>
                                <th>URL</th>
                                <th>Category</th>
                                <th>배너설명</th>
                                <th>배너생성일</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(banner,index) in banners">
                                <td><a href="#">\{{index}}</a></td>
                                <td>웹 : \{{banner.bannerImage}}<br>모바일 : \{{banner.mobileImage}}</td>
                                <td>\{{banner.url}}</td>
                                <td>\{{banner.category}}</td>
                                <td>\{{banner.remarks}}</td>
                                <td>\{{banner.updated_at | moment}}</td>
                                <td><button class="btn btn-primary" @click="toggleChange(banner, 'update_banner_toggle' ,index)">수정</button></td>
                                <td><button class="btn btn-primary" @click="removeBanner(banner.id)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form" role="form" v-if="update_banner_toggle">
                    배너파일 : <br><input type="text" class="form-control" v-model="updateObj['bannerImage']">
                    <br><input type="text" class="form-control" v-model="updateObj['mobileImage']">
                    URL : <input type="text" class="form-control" v-model="updateObj['url']">
                    Category : 
                    <div class="form-group">
                        <label for="category">카테고리</label><br>
                        <label class="radio-inline"><input id="category" type="radio" class="form-control" name="category" value="MAIN" v-model="updateObj['category']">메인페이지</label>
                        <label class="radio-inline"><input id="category" type="radio" class="form-control" name="category" value="EVENT" v-model="updateObj['category']">이벤트페이지</label>
                    </div>
                    생성일 : <input type="text" class="form-control" v-model="updateObj['updated_at']">
                    <button class="btn btn-primary" @click="changeBanner">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_banner_toggle', -1)">취소</button>
                </div>


                <h2>배너 이미지</h2>
                <form class="form" role="form" id="banner-file-form">

                    <div class="form-group">
                        <label for="cc_name">배너 이미지 파일</label>
                        <input type="file" class="form-control" id="new-banner-file" name="file" accept="image/*"/>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn mobile-btn" @click="newFile('banner', $event)">배너 파일 추가하기</button>
                    </div>

                </form>

                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>배너 이미지</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="file.fileName" v-for="(file,index) in bannerFiles">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{file.fileName}}</td>
                                <td><button class="btn btn-primary" @click="removeFile('banner', file.fileName)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="card card-outline-secondary">
                    <div class="card-body" >
                        <h3 class="text-center">배너 추가하기</h3>
                        <hr>
                        <form class="form" role="form" id="banner-form">
                            <div class="form-group">
                                <label for="cc_name">배너 파일</label>
                                <input type="file" class="form-control" id="bannerImage" name="bannerImage" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">모바일 배너 파일</label>
                                <input type="file" class="form-control" id="mobileImage" name="mobileImage" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">URL</label>
                                <input type="text" class="form-control" name="url">
                            </div>
                            <div class="form-group">
                                <label for="category">카테고리</label><br>
                                <label class="radio-inline"><input id="category" type="radio" class="form-control" name="category" value="MAIN">메인페이지</label>
                                <label class="radio-inline"><input id="category" type="radio" class="form-control" name="category" value="EVENT">이벤트페이지</label>
                            </div>
                            <div class="form-group">
                                <label for="cc_name">배너설명</label>
                                <input type="text" class="form-control" name="remarks" placeholder="관리용 설명(외부노출안됨)">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn mobile-btn" @click="newBanner">배너 만들기</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>



            <div v-show="toggles.feedToggle">

                <h2>생성된 피드</h2>

                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>피드파일</th>
                                <th>URL</th>
                                <th>제목</th>
                                <th>해시태그</th>
                                <th>조회수</th>
                                <th>피드생성일</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(feed,index) in feeds">
                                <td><a href="#">\{{index}}</a></td>
                                <td>웹 : \{{feed.feedImage}}<br>모바일 : \{{feed.mobileImage}}</td>
                                <td>\{{feed.url}}</td>
                                <td>\{{feed.title}}</td>
                                <td><span v-for="hashtag in feed.hashtags">\{{hashtag}} </span></td>
                                <td>\{{feed.views}}</td>
                                <td>\{{feed.updated_at | moment}}</td>
                                <td><button class="btn btn-primary" @click="toggleChange(feed, 'update_feed_toggle' ,index)">수정</button></td>
                                <td><button class="btn btn-primary" @click="removeFeed(feed.id)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form" role="form" v-if="update_feed_toggle">
                    피드파일 : <br><input type="text" class="form-control" v-model="updateObj['feedImage']">
                    <br><input type="text" class="form-control" v-model="updateObj['mobileImage']">
                    URL : <input type="text" class="form-control" v-model="updateObj['url']">
                    제목 : <input type="text" class="form-control" v-model="updateObj['title']">
                    내용 : <input type="text" class="form-control" v-model="updateObj['content']">
                    조회수 : <input type="number" class="form-control" v-model="updateObj['views']">
                    생성일 : <input type="text" class="form-control" v-model="updateObj['updated_at']">
                    <div v-for="(hashtag, index) in updateObj['hashtags']">
                        해시태그 \{{index}} : <input type="text" class="form-control" v-model="updateObj['hashtags'][index]">
                        <button class="btn btn-danger" @click="updateObj['hashtags'].splice(index, 1)"> 해시태그 \{{index}} 제거 </button>
                        <br>
                    </div>
                    <button class="btn btn-danger" @click="updateObj['hashtags'].push('')">해시태그 추가</button><br>
                    <button class="btn btn-primary" @click="changeFeed">수정완료</button>
                    <button class="btn btn-primary" @click="toggleChange(updateObj, 'update_feed_toggle', -1)">취소</button>
                </div>


                <h2>피드 이미지</h2>
                <form class="form" role="form" id="feed-file-form">

                    <div class="form-group">
                        <label for="cc_name">피드 이미지 파일</label>
                        <input type="file" class="form-control" id="new-feed-file" name="file" accept="image/*"/>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn mobile-btn" @click="newFile('feed', $event)">피드 파일 추가하기</button>
                    </div>

                </form>

                <div style="height: auto; overflow: auto">
                    <table class="table" id="table" >
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>피드 이미지</th>
                                <th>기능</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="file.fileName" v-for="(file,index) in feedFiles">
                                <td><a href="#">\{{index}}</a></td>
                                <td>\{{file.fileName}}</td>
                                <td><button class="btn btn-primary" @click="removeFile('feed', file.fileName)">삭제</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="card card-outline-secondary">
                    <div class="card-body" >
                        <h3 class="text-center">피드 추가하기</h3>
                        <hr>
                        <form class="form" role="form" id="feed-form">
                            <div class="form-group">
                                <label for="cc_name">피드 파일</label>
                                <input type="file" class="form-control" id="feedImage" name="feedImage" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">모바일 피드 파일</label>
                                <input type="file" class="form-control" id="feed-mobile-image" name="mobileImage" />
                            </div>
                            <div class="form-group">
                                <label for="cc_name">URL</label>
                                <input type="text" class="form-control" name="url">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">제목</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">설명</label>
                                <input type="text" class="form-control" name="content">
                            </div>
                            <div class="form-group">
                                <label for="cc_name">초기 조회수</label>
                                <input type="number" class="form-control" name="views">
                            </div>
                            <div class="form-group" v-for="(_a, index) in list_array">
                                <label for="cc_name">해시태그 \{{index}}</label><br>
                                해시태그 : <input type="text" class="form-control" :name="'hashtags['+index+']'">
                                <button class="btn btn-danger float-right" @click="change_list_array(list_array, index, $event)">해시태그 \{{index}} 삭제</button>
                            </div>
                            <button class="btn btn-danger" @click="change_list_array(list_array, '+', $event)">해시태그 추가</button>
                            <div class="form-group">
                                <button type="submit" class="btn mobile-btn" @click="newFeed">피드 만들기</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
            
    </div>
</div>



{{#section 'jquery'}}
    <script type="text/javascript" src="/js/api/file.js"></script> 
    <script type="text/javascript" src="/js/api/event.js"></script> 
    <script type="text/javascript" src="/js/api/coupon.js"></script>  
    <script type="text/javascript" src="/js/api/banner.js"></script>  
    <script type="text/javascript" src="/js/api/payer.js"></script>
    <script type="text/javascript" src="/js/api/category.js"></script>
    <script type="text/javascript" src="/js/api/participant.js"></script>  
    <script type="text/javascript" src="/js/api/feed.js"></script>  
    <script type="text/javascript" src="/js/api/highCategory.js"></script>  
    <script type="text/javascript" src="/js/controllers/admin/adminController.js"></script>  
{{/section}}






