
{{#section 'head'}}

    <link rel="stylesheet" type="text/css" href="/css/eventInfo.css">
{{/section}}


<div id="app">

	<img :src="eventImageHref(event.thumbnailImage)" class="infoImage">
	

	<div class="infoCard">
		<div class="card" style="background-color:#660000; border: 1px solid gray;">
			<div style="margin:10px; color:white;">
				<div v-show="event.price">\{{event.price}}</div> <br>
				<span style="font-size:1.2em">\{{event.eventName}}</span>
                <div style="font-size:1em">
    				<span>\{{event.eventRange}} </span><br>
                    <span>\{{event.hospitalName}}</span>
                    <br>	
                    <span style="font-size:0.7em">(\{{event.address}})</span><br>
                    <span v-show="event.price">₩\{{event.price}}</span><br>
                </div>
			</div>
		</div>
	</div>

	<img v-for="imageName in event.eventImage" :src="eventImageHref(imageName)" class="infoImage">
	<div class="offset-md-2 col-md-8" id="contactInfo" style="background-color:#660000" >


		<hr class="my-5">
		<!-- form card cc payment -->
		<div class="card card-outline-secondary">
		    <div class="card-body">
		        <h3 class="text-center">\{{event.eventName}} 咨询<!--HaoDoc Event 상담신청--></h3>
		        <hr>
		        <div class="form" role="form">
		            <div class="form-group">
		                <label for="cc_name">姓名<!--이름--></label>
		                <input type="text" v-model="participantName" class="form-control">
		            </div>
			    	<label>性别<!--성별--></label>
			        <div class="form-group">
			            <input type="radio" id="male" name="gender" value="male" v-model="gender" checked="checked" />
			            <label for="male">男<!--남자--></label>
			            <input type="radio" id="female" name="gender" value="female" v-model="gender" style="margin-left:20px" />
			            <label for="female">女<!--여자--></label>
			        </div>
		            <div class="form-group">
		                <label>微信账号<!--위챗아이디--></label>
		                <input type="text" v-model="wechatID" class="form-control" placeholder="若将微信账号开启不允许搜索则我们可能无法联系到您">
		            </div>
		            <div class="form-group">
		                <label>记录<!--메모--></label>
		                <input type="text" v-model="memo" class="form-control" placeholder="请填写希望的咨询时间，日期等事项"><!--상담시간, 날짜 등을 입력해주세요.-->
		            </div>
		            <div class="form-group">
		                <label>活动名称<!--이벤트 이름--></label>
		                <input type="text" class="form-control" v-model="eventName" disabled :placeholder="event.eventName">
		            </div>
		            <hr>
		            <div class="form-group">
		                <button type="submit" class="btn mobile-btn" @click="newParticipant">申请咨询<!--상담신청하기--></button>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- /form card cc payment -->
		<p class="copyright" style="text-align:center;padding:40px 0;">
			CopyRight by <a href="http://www.haodoc.co.kr">INSPIRE</a>
		</p>

	</div>
	<my-footer></my-footer>
</div>


{{#section 'jquery'}}
	<script type="text/javascript" src="/js/api/event.js"></script>
	<script type="text/javascript" src="/js/api/participant.js"></script>
	<!-- Vue Controller 포함. -->
	<script type="text/javascript" src="/js/controllers/event/eventInfoController.js"></script>
{{/section}}


