

{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
    <link rel="stylesheet" type="text/css" href="/css/event.css">
{{/section}}

<div id="app">

    
    <section class="main-block">
        <div class="container">
            <div class="row-page row">

                <div  v-for="coupon in coupons" class="mainbox col-page col-xs-10 col-lg-12" style="padding:40px 0px 80px 0px;">
                    <a :href="couponHref(coupon.id)" class="full-block">
                        <div class="img-block">
                            <img class="img-responsive" :src="couponThumbnailHref(coupon.thumbnailImage)" width="1000" height="200" >
                        </div>
                        <div class="content-block">
                              <br>
                            <h3> \{{coupon.couponName}} </h3>
                            <p> \{{coupon.hospitalName}} </p>
                            <p> \{{coupon.couponRange}}  <span style="float:right">\{{coupon.subway}}</span></p><br>
                            <h5 style="float:right; color:white;">₩\{{coupon.price}}</h5>
                        </div>
                        <div class="d-none d-sm-block transition-block">
                            <span>详细内容 </span>
                        </div>
                        <!-- mobile web button -->
                        <span class="d-md-none float-right" >
                            <button class="mobile-btn btn">查看活动详情<!--서비스자세히보기-->&nbsp;&nbsp;&nbsp;(Click!)</button>
                        </span>
                    </a>
                </div>

                <!-- 드림성모안과 -->
                <div  v-for="event in events" class="mainbox col-page col-xs-10 col-lg-12" style="padding:40px 0px 80px 0px;">
                    <a :href="eventHref(event.id)" class="full-block">
                        <div class="img-block">
                            <img class="img-responsive" :src="eventThumbnailHref(event.thumbnailImage)" width="1000" height="200" >
                        </div>
                        <div class="content-block">
                              <br>
                            <h3> \{{event.eventName}} </h3>
                            <p> \{{event.hospitalName}} </p>
                            <p> \{{event.eventRange}}  <span style="float:right">\{{event.subway}}</span></p><br>
                            <!--h5 v-show="event.eventType === 'cps'" style="float:right; color:white;">₩\{{event.price}}</h5-->
                        </div>
                        <div class="d-none d-sm-block transition-block">
                            <span>详细内容 </span>
                        </div>
                        <!-- mobile web button -->
                        <span class="d-md-none float-right" >
                            <button class="mobile-btn btn">查看活动详情<!--서비스자세히보기-->&nbsp;&nbsp;&nbsp;(Click!)</button>
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <my-footer></my-footer>
</div>


{{#section 'jquery'}}

    <script type="text/javascript" src="/js/api/event.js"></script>
    <script type="text/javascript" src="/js/api/coupon.js"></script>
    <!--script type="text/javascript" src="/js/api/category.js"></script-->
    <script type="text/javascript" src="/js/controllers/event/eventController.js"></script>
    <!-- 쿠폰 컨트롤러는 이벤트 컨트롤러에 일시적으로 포함 script type="text/javascript" src="/js/controllers/couponController.js"></script-->

{{/section}}





