

{{#section 'head'}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/question.css">
{{/section}}


<br>
<div class="text-center"><h4>HaoDoc咨询服务<!--하오닥 문의 서비스--></h4></div>   

<div id="app" class="container">
    <div class="text-center">
        <a href="/recommend" class="btn btn-primary margin-btn"> 医院推荐服务 + </a>
        <a href="/translate" class="btn btn-primary margin-btn"> 症状翻译服务 + </a>
        <a href="/accompany" class="btn btn-primary margin-btn"> 同行服务申请 + </a>
        <a href="/insurance" class="btn btn-primary margin-btn"> 保险相关咨询 + </a>
    </div>
    <br><br>
    <div class="row">
        <div class="list-group" style="width:100%;">
            <div v-for="question in questions">
                <a @click="checkOwner(question)" class="list-group-item clearfix">
                    <div class="profile-teaser-main">
                        <h4 class="profile-name">\{{question.name}}<span class="info float-right" style="font-size:0.7em">\{{question.updated_at | moment}}</span></h4>
                        <div class="profile-info">
                            <div class="info"><span class=""></span>&nbsp;<span class="">[非公开] [\{{question.category | changeCategory}}]</span>&nbsp;&nbsp;&nbsp;\{{question.name}}非公开内容{{!-- 님의 비공개 글입니다. --}}</div>
                        </div>
                        <br>
                        <div v-show="question.answer" class="list-group-item clearfix" >
                            <div class="profile-teaser-main">
                                <h4 class="profile-name">HaoDoc</h4>
                                <div class="profile-info">
                                    <div class="info"><span class="">\{{question.name}}您好，{{!-- 님 --}}</span> 我们是HaoDoc，已经回答完毕{{!-- 하오닥 입니다. 답변 완료 했습니다. --}} &nbsp;&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a><!-- item -->
                <br>
            </div>
        </div>
        <br><br><br>
    </div>
</div>



{{#section 'jquery'}}

    <script type="text/javascript" src="/js/api/recommend.js"></script>
    <script type="text/javascript" src="/js/api/translate.js"></script>
    <script type="text/javascript" src="/js/api/accompany.js"></script>
    <script type="text/javascript" src="/js/api/insurance.js"></script>
    <script type="text/javascript" src="/js/controllers/question/questionController.js"></script>
    
{{/section}}











