
{{!-- 컨테이너영역 --}}
<div id="main_app" class="container">
	{{!-- 메인섹션 --}}
	<div class="section-main">
		<!-- 카테고리 영역 -->
		<div class="inner relative">
			<div class="lnb">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<span v-for="(category, index) in categorys">
							<div :class="'swiper-slide '+index">
								<a :href="'/test/renew/event?category='+category.categoryName">
									<img :src="'/images/category/all/'+category.iconImage" alt="">\{{category.categoryName}}
								</a>
							</div>
						</span>
					</div>
				</div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		{{!-- /카테고리 영역 --}}
		{{!-- 배너 영역 --}}
		<div class="slide-main">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div v-for="(banner, index) in banners" :class="'swiper-slide slide-0'+(index+1)">
						<a :href="banner.url" class="image vertical-middle">
							<img :src="'/images/banner/all/' + banner.bannerImage" alt="" class="pc">
							<!--img src="/renew/images/img_slide_01.jpg" alt="" class="pc"-->
							<img :src="'/images/banner/all/' + banner.mobileImage" alt="" class="mobile">
						</a>
					</div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
		{{!-- /배너영역 --}}
	</div>
	{{!-- /메인섹션 --}}
	{{!-- 컨텐츠섹션 --}}
	<div class="section-contents">
		<div class="inner cf">
			{{!-- 피드영역 --}}
			<div class="box-feed fr">
				<h2>피 드</h2>
				<div class="banner cf">
					<div class="left-m">
						<a href="javascript:;">
							<img src="/renew/images/banner_feed_01.jpg" alt="">
						</a>
					</div>
					<div class="right-m">
						<a href="javascript:;">
							<img src="/renew/images/banner_feed_02.jpg" alt="">
						</a>
						<a href="javascript:;">
							<img src="/renew/images/banner_feed_03.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			{{!--/피드영역 --}}
			{{!--이벤트영역 --}}
			<div class="box-all fr">
				<div class="box-fold event active">
					<div class="title">이벤트 모아보기</div>
					<div class="content cf">
						<ul class="box-event">
							<li v-for="(coupon, index) in coupons"><a :href="'/coupon/'+coupon.id" class="coupon cf">
								<div class="image vertical-middle fl">
									<img :src="'/images/coupon/all/'+coupon.thumbnailImage" alt="">
								</div>
								<div class="detail fr">
									<div class="cf">
										<span class="name">\{{coupon.hospitalName}}</span>
										<span class="date">\{{coupon.couponRange}}</span>
									</div>
									<div class="text sc">
										<div class="event ellipsis">\{{coupon.couponName}}</div>
										<div class="description ellipsis-multi">\{{coupon.subway}}</div>
									</div>
									<div class="bottom cf">
										<!--div class="view fl">720</div-->
										<div class="price fr">
											<!--div class="before">720000</div-->
											<div class="current">\{{coupon.price}}</div>
										</div>
									</div>
								</div>
							</a></li>
							<li v-for="(event, index) in events"><a :href="'/event/'+ event.id" class="cf">
								<div class="image vertical-middle fl">
									<img :src="'/images/event/all/' + event.thumbnailImage " alt="">
								</div>
								<div class="detail fr">
									<div class="cf">
										<span class="name">\{{event.hospitalName}}</span>
										<span class="date">\{{event.eventRange}}</span>
									</div>
									<div class="text sc">
										<div class="event ellipsis">\{{event.eventName}}</div>
										<div class="description ellipsis-multi">\{{event.subway}}</div>
									</div>
									<div class="bottom cf">
										<!--div class="view fl">720</div-->
										<div class="price fr">
											<!--div class="before">720000</div-->
											<div class="current">\{{event.price}}</div>
										</div>
									</div>
								</div>
							</a></li>
						</ul>
					</div>
					</div>
				</div>
			</div>
			{{!-- /이벤트영역 --}}
		</div>
	</div>
	{{!-- /컨텐츠섹션 --}}
</div>
{{!-- /컨테이너영역 --}}

<div class="fixed-right">
	<a href="javascript:;" class="btn-more"></a>
	<a href="javascript:;" class="btn-qr sc">咨 询</a>
</div>


{{#section 'jquery'}}
	<script src="/js/api/event.js"></script>
	<script src="/js/api/coupon.js"></script>
	<script src="/js/api/banner.js"></script>
	<script src="/js/api/category.js"></script>
	<script src="/js/util/util.js"></script>
	<script src="/renew/js/controllers/mainController.js"></script>
{{/section}}
