{{#section 'head'}}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/questionInfo.css">
{{/section}}


<div id="app">
	<div class="container">
		<div class="row">
			 <div class="media comment-box" style="width:100%;">
	            <div class="media-body">
	                <div class="media-heading"><h4>\{{insurance.name}}</h4> <span>- \{{insurance.updated_at | moment}}</span></div>
	                <p>
	                	- 问题种类
{{!-- 질문종류 --}} : \{{insurance.questionType}} <br>
	                	- 保险种类{{!-- 보험종류 --}} : \{{insurance.kindOfInsurance}} <br>
	                	- 学校
{{!-- 학교 --}} : \{{insurance.school}} <br>
	                	- 想要加入的保险
{{!-- 가입하고싶은 보험 --}} : \{{insurance.whatInsurance}} <br>
	                	- 其他{{!-- 기타 --}} : \{{insurance.remarks}} <br>
	                	- 微信账号
{{!-- 위챗아이디 --}} : \{{insurance.wechatID}} <br>
	                </p>
	                <div v-if="insurance.answer" class="media">
	                    <div class="media-body">
	                        <div class="media-heading"><h4><img src="/images/layout/logo2.png" style="width:25%"></h4><span>- \{{insurance.answer.updated_at | moment}}</span></div>
	                        <p>\{{insurance.answer.content}}</p>
	                    </div>
	                </div>
	                <div v-if ="!insurance.answer">
	                	<button class="btn mobile-btn float-right" @click="toggleAnswer">답변달기</button>
	                	<p>HaoDoc平均答复时间为一个小时内，留下微信账号，答复问题后会联系您{{!-- HaoDoc 평균 답변시간은 한시간 이내입니다. 위챗 아이디를 남겨주셨다면, 답변이 달린 후에 연락드리겠습니다. --}}</p>
	                </div>
					<div v-show="answerToggle" class="infoCard" id="app">
						<br><br><br><br>
					    <div class="card-body">
					        <h3 class="text-center"> 回答{{!-- 답변달기 --}} </h3>
					        <hr>
					        <div class="form" role="form">
					            <div class="form-group">
					                <label for="cc_name">1. 回答{{!-- 답변 --}} </label>
					                <textarea type="text" class="form-control" placeholder="여기에 답변 작성 해주세요" v-model="newAnswer"></textarea>
					            </div>
					            <hr>
					            <div class="form-group">
					                <button type="submit" class="btn mobile-btn" @click="makeAnswer">填写完成
{{!-- 작성완료 --}}</button>
					            </div>
					        </div>
					    </div>
					</div>
	            </div>
	        </div>
		</div>
	</div>
</div>



{{#section 'jquery'}}
    <script type="text/javascript" src="/js/api/insurance.js"></script>
    <script type="text/javascript" src="/js/controllers/question/insurance/insuranceInfoController.js"></script>
{{/section}}